*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

body{
    background-color: #e0e0e0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.header{
    text-align: center;
    
}


#tile{
    margin-left: calc(50% - 150px);
    margin-top: calc(50vh - 150px);
    background-color: #e0e0e0;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow:  30px 30px 60px #bebebe,
                -30px -30px 60px #ffffff;
    z-index: 100;
}

#dot{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,  rgba(255,255,255,0) 100%);
}
