*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}

.elements{
    min-height: 100px;
    min-width: 100px;
    border-radius: 100%;
    background-color: blue;
    position: absolute;
}
