*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body{
    overflow: hidden;
    
}

.my{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    max-height: 10px;
    max-width: 10px;
    top: 50vh;
    left:50%;
    background-color: black;;
    border-radius: 100%;
    z-index: 1000000;

}
.others{
    animation:rotation 3s infinite;
    animation-timing-function: linear;
    
}
.elements{
    min-height: 100px;
    min-width: 100px;
    border-radius: 100%;
    background-color: blue;
    position: absolute;
    
}

@keyframes rotation {
0% {
    transform:rotate(-360deg);
  }
}