*{
box-sizing: border-box;
margin: 0px;
padding:0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

}

.header-div{
padding-top: 20px;
padding-bottom: 20px;
}

.header-heading{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.boxes{
    width: 98%;
    margin-left:1%;
    margin-bottom: 1%;
    background-color: #C0D8C0;
    border: 4px solid rgb(0, 0, 0);
}

.item-holder-div{
    border:4px solid rgb(24, 24, 24);
    width: 200px;
    height: 50px;
    position: relative;
    float: right;
    right: -4px;
    top: -4px;
}
.item-holder-div-1{
    background-color: #d59898;
}
.item-holder-div-2{
    background-color: #DD4A48;
}
.item-holder-div-3{
    background-color: khaki;
}


.item-h6{
    font-size: 20px;
    color: ivory;
    padding:2px;
    text-align: center;
    padding-top: 10px;
}
.item-1{
    color: #000000;
}
.item-2{
}
.item-3{
    color: #000000;
}


.p-holder-div{
    clear: both;
    padding:20px;
}

/*Large screen devices*/
@media (min-width:1200px){
    .box-lg-4{
        width:32%;
        float: left;
        margin-left:1%;
    }   
}
@media (min-width:750px) and (max-width:1199px){
    .box-md-6{
        width:47%;
        float: left;
        margin-left:2%;   
    }
    .box-md-12{
        width:96%;
        float: left;
        margin-left:2%; 
        margin-bottom: 1%;
    }   
}
@media (max-width:749px){
    .boxes{
        margin-bottom:2%
    }  
}